html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(189, 186, 181);
}

.about {
  background: rgb(6, 34, 12);
}

@media (min-width: 768px) {
  .image-container {
    position: relative;
    width: 100%;
  }

  .text-overlay {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .text-overlay h1 {
    font-size: 4vw;
    font-weight: bold;
  }
  .text-overlay p {
    font-size: 3vw;
    font-weight: bold;
  }
  .offcanvas-body,
  ul {
    margin-left: 300px;
    gap: 30px;
    font-size: 2vw;
  }
}

@media (max-width: 890px) {
  .text-overlay {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .text-overlay h1 {
    font-size: 5vw;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .about h2 {
    font-size: 5vw;
  }
  .about h3 {
    font-size: 4vw;
  }
  .about p {
    font-size: 4vw;
  }
  .about li {
    font-size: 4vw;
  }
}

.card-group img {
  height: 50%; /* Ensures the image takes the full height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
